extends layout

block content
  h1 All pages

  hr

  h2 DODO LEND USDC
  div
    a(href='/dodo') Coin page
  div
    a(href='/dodo/pre') Debug page
  div
    a(href='/api/dodo') Api Link

  hr

  h2 Loopring
  div
    a(href='/loopring') Coin page
  div
    a(href='/loopring/pre') Debug page
  div
    a(href='/api/loopring') Api Link

  hr

  h2 1inch.exchange
  div
    a(href='/1inch') Coin page
  div
    a(href='/1inch/pre') Debug page
  div
    a(href='/api/1inch') Api Link

  hr

  h2 Curve Finance
  div
    a(href='/curve') Coin page
  div
    a(href='/curve/pre') Debug page
  div
    a(href='/api/curve') Api Link

  hr

  h2 Ethereum 2.0 Deposits (Genesis Analytics)
  div
    a(href='/eth2dep') Coin page
  div
    a(href='/eth2dep/pre') Debug page
  div
    a(href='/api/eth2dep') Api Link

  hr

  h2 Uniswap v2
  div
    a(href='/uniswap') Coin page
  div
    a(href='/uniswap/pre') Debug page
  div
    a(href='/api/uniswap') Api Link

  hr

  h2 Gnosis
  div
    a(href='/gnosis') Coin page
  div
    a(href='/gnosis/pre') Debug page
  div
    a(href='/api/gnosis') Api Link

  hr

  h2 Balancer
  div
    a(href='/balancer') Coin page
  div
    a(href='/balancer/pre') Debug page
  div
    a(href='/api/balancer') Api Link

  hr

  h2 Bancor
  div
    a(href='/bancor') Coin page
  div
    a(href='/bancor/pre') Debug page
  div
    a(href='/api/bancor') Api Link

  hr

  h2 Synthetix
  div
    a(href='/synthetix') Coin page
  div
    a(href='/synthetix/pre') Debug page
  div
    a(href='/api/synthetix') Api Link

  hr
